<div class="col-xs-12">
  <div class="row">
    {{#each model.books as |book|}}
      <div class="col-xs-6 col-sm-4 col-md-2">
          <div class="panel panel-default">
            {{#link-to 'book.section' book book.sections.firstObject}}
              <img class="img-responsive" src="{{book.cover}}" alt="">
            {{/link-to}}
            <div class="panel-body">
              <div class="book-context-menu dropdown">
                <button id="open-context-{{book.id}}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></button>
                <ul class="dropdown-menu" aria-labelledby="open-context-{{book.id}}">
                    <li><a href="#" onclick={{action "deleteBook" book}}>Delete</a></li>
                  </ul>
                </div>
              {{#link-to 'book.section' book book.sections.firstObject}}
                <div class="book-title">{{book.title}}</div>
                <div class="book-author">{{book.author}}</div>
              {{/link-to}}
            </div>
          </div>
      </div>
    {{else}}
    <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="panel panel-default" onclick={{action 'addBook'}}>
          <div class="panel-header add-book-panel">
            <i class="material-icons">library_add</i><br>
            Add Book
          </div>

        </div>
    </div>
    {{!-- <div class="col-xs-12">
    <a class="btn btn-default btn-success btn-fab"><i class="material-icons">library_add</i></a>
      <button class="btn btn-lg btn-raised btn-block btn-primary"> add your first book</button>
    </div> --}}
    {{/each}}
  </div>
</div>