{{!-- {{#if content.component}} --}}
  {{component content.component}}
{{!-- {{else}}
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">{{content.title}}</h4>
    </div>
    <div class="modal-body">
      {{content.body}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">{{content.cancel}}</button>
      <button type="button" class="btn btn-primary">{{content.ok}}</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
{{/if}} --}}