<div class="container">
  {{#if currentUser.model.isTeacher}}
    <div>
      <strong>Teacher Account</strong>
    </div>
    <h2>Manage Courses</h2>
    <button class="btn btn-lg btn-primary btn-raised" {{action 'addCourse'}}>Import From URL</button>
    <button class="btn btn-lg btn-primary btn-raised" {{action 'importSDCourses'}}>Import From SD</button>
    <button class="btn btn-lg btn-primary btn-raised" {{action 'loadSDCourses'}}>Load From SD</button>
    <h2>Manage Users</h2>
    {{login-user-select users=model.users editable=true}}

    {{!-- <h2>Add A Course</h2>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s10">
            <input id="course_url" type="text" class="validate" value={{mut courseUrl}}>
            <label for="course_url">Course URL (tar.gz)</label>
          </div>
           <div class="col s2">
            <button class="btn-large waves-effect waves-light">Add</button>
          </div>
        </div>
      </form>
    </div> --}}

    <h2>Sync</h2>
    <p>There are <strong>{{statementCount}}</strong>, statements in the store. <strong>{{unsyncedStatementCount}}</strong> need to be synced.</p>
    {{#if syncable}}
      <button class="btn-large waves-effect waves-light" {{action "syncStatements"}}>Sync Now</button>
    {{/if}}

    <h2>Development Settings</h2>
    <button class="btn btn-lg btn-primary btn-raised" type="button" {{action 'deleteAllCourse'}}>Delete All Courses</button>
    <button class="btn btn-lg btn-primary btn-raised" type="button" {{action 'deleteAllStatements'}}>Delete All xAPI Statements</button>

  {{/if}}
</div>