  <div class="book-container">
  <div class="book-navigation book-navigation-left"{{action 'navPrev'}}></div>
  <div class="book-navigation book-navigation-right"{{action 'navNext'}}></div>
    <div class="book-content" style={{bookContentStyle}}>
      {{!-- {{pagesHTML}} --}}
      {{#each pages as |page|}}
        <div class="page" style={{pageStyle}}>
          <div class="page-content">
            {{page}}
          </div>
        </div>
        {{else}}
        <div class="page" style={{pageStyle}}>
          <div class="page-content">
          </div>
        </div>
      {{/each}}
    </div>
    <div class="paginator" style={{paginatorStyle}}>
      {{html}}
    </div>
  </div>