<style>
  .book-content {
    font-size: {{fontSizeString}};
  }
</style>

<div class="modal fade" id="chapters" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{model.title}} Sections</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
            {{#each sections as |section index|}}
              <li class="list-group-item list-section-{{index}}">
                {{#if section.subsections.length}}<i class="material-icons" {{action 'toggleSection' index}}>{{if section.isCurrentSection 'keyboard_arrow_down' 'chevron_right'}}</i>{{/if}} {{#link-to 'book.section' model section}}{{index}}. {{section.title}}{{/link-to}}
                <ul class="{{unless section.isCurrentSection 'hide'}}">
                  {{#each section.subsections as |subsection index2|}}
                    <li data-position="{{subsection.position}}" {{action "goToSubsection" subsection.position}}>{{subsection.title}}</li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-fixed-top {{if nav.hide 'hide'}}">

  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#" {{action 'back'}}><i class="material-icons">keyboard_arrow_left</i></a></li>
      </ul>
    <a class="navbar-brand">{{model.title}}</a>
        <ul class="nav navbar-nav navbar-right">
          <li><a data-toggle="modal" data-target="#chapters"><i class="material-icons">toc</i></a></li>
          <li><a href=""><i class="material-icons">format_size</i></a></li>
        </ul>
  </div>
</div>

{{ log-me logger='xAPIOpenBook' }}
{{a-book
  scrollLeft=scrollLeft
  sections=sections
  currentRouteModel=currentSection
  showImage=(action 'showImageModal')
  showH5P=(action 'showH5PModal')
  changePermalink=(action 'changePermalink')
  onPageChange=(action 'onPageChange')
  onOpenLink='xAPIOpenLink'
}}

<div class="navbar navbar-fixed-bottom {{if nav.hide 'hide'}}">
  <form class="navbar-form">
    <div class="form-group">
      <label for="">Font Size:</label>
      <select name="section" class="change-font-size form-control" onchange={{action (mut fontSize) value="target.value"}}>
        {{#each fontSizes as |fontSizeOption|}}
          <option value="{{fontSizeOption}}" selected={{eq fontSizeOption fontSize}}>{{fontSizeOption}}</option>
        {{/each}}
      </select>
    </div>
  </form>
</div>
