<style>
  .book-content {
    font-size: {{fontSizeString}};
  }
</style>
<div class="modal fade" id="chapters" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{model.title}} Sections</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
            {{#each toc as |section index|}}
              <a class="list-group-item" onclick={{action 'sectionClick' section.href}}>{{index}}. {{section.label}}</a>
              {{!-- {{#link-to 'book.section' model section class="list-group-item"}}{{index}}. {{section.title}}{{/link-to}} --}}
            {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-fixed-top hide">

  <div class="container-fluid">

      <ul class="nav navbar-nav navbar-left">
        <li><a href="#" {{action 'backToIndex'}}><i class="material-icons">keyboard_arrow_left</i></a></li>
      </ul>

    <a class="navbar-brand">{{model.title}}</a>

        <ul class="nav navbar-nav navbar-right">
          <li><a data-toggle="modal" data-target="#chapters"><i class="material-icons">toc</i></a></li>
          <li><a href=""><i class="material-icons">format_size</i></a></li>
        </ul>


  </div>
</div>

{{ log-me logger='xAPIOpenBook' }}
{{!a-book
  sections=sections
  bookType=model.type
  startingScrollLeft=startingScrollLeft
  currentRouteModel=currentSection
  showImage=(action 'showImageModal')
  changePermalink=(action 'changePermalink')
  onPageChange=(action 'onPageChange')
  onOpenLink='xAPIOpenLink'
}}

{{!--<div class="navbar navbar-fixed-bottom {{if nav.hide 'hide'}}">
  <form class="navbar-form">
    <div class="form-group">
      <label for="">Jump To:</label>
      <select name="section" class="change-section form-control" onchange={{action 'changePermalink' value="target.value"}}>
        {{#each model.sections as |section|}}
          <option value="{{section.permalink}}" selected={{eq section currentSection}}>{{section.title}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="">Font Size:</label>
      <select name="section" class="change-font-size form-control" onchange={{action (mut fontSize) value="target.value"}}>
        {{#each fontSizes as |fontSizeOption|}}
          <option value="{{fontSizeOption}}" selected={{eq fontSizeOption fontSize}}>{{fontSizeOption}}</option>
        {{/each}}
      </select>
    </div>
  </form>
</div>--}}

{{epub-reader epubLocation=model.location toc=toc locationChanged=(action 'locationChanged') externalLocation=location }}