{{!-- {{outlet}} --}}
{{a-book sections=model.sections currentSection=currentSection nextSection=(action 'nextSection') prevSection=(action 'prevSection')}}

<div class="navbar navbar-fixed-bottom">
    <form class="navbar-form">
      <div class="form-group">
        <label for="">Section:</label>
        <select name="section" class="change-section form-control" onchange={{action 'changeSection' value="target.value"}}>
          {{#each model.sections as |section|}}
            <option value="{{section.permalink}}" selected={{eq section currentSection}}>{{section.title}}</option>
          {{/each}}
        </select>
      </div>
    </form>
</div>